@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root {
  --DarkViolet: hsl(256, 26%, 20%);
  --GrayishBlue: hsl(216, 30%, 68%);
  --VeryDarkViolet: hsl(270, 9%, 17%);
  --DarkGrayishViolet: hsl(273, 4%, 51%);
  --VeryLightGray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}
h1,
h2 {
  font-family: 'DM Serif Display', serif;
}

body {
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

header > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin: 20px auto; */
  padding: 20px 0;
}
.logo {
  padding: 10px;
}
.desktop-nav {
  display: none;
}
#hamburger {
  cursor: pointer;
}
.mobile-nav {
  height: 0;
  background-image: url(images/bg-pattern-mobile-nav.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: var(--VeryDarkViolet);

  transition: all 1s;
}
.mobile-nav.expand {
  height: 90vh;
}
.mobile-nav > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin: 0;
  padding: 30px 0;
}
.mobile-nav > ul > li {
  margin: 15px 0;
}
.mobile-nav > ul > li > a {
  text-decoration: none;
  color: var(--VeryLightGray);
  font-size: 25px;
  text-transform: uppercase;
  margin: 10px 0;
  padding: 10px 20px;
}

.btn {
  border: 1px solid var(--VeryLightGray);
}
.mobile-intro-section {
  color: var(--VeryLightGray);
  background-color: var(--DarkViolet);
  background-image: url(images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 150vh;
}

.mobile-intro-section > img {
  max-height: 100vh;
  width: 100%;
}
.mobile-intro-section > .container {
  padding: 100px 0;
  text-align: center;
}
h1 {
  font-size: 45px;

  font-weight: 400;
}
.mobile-intro-section > .container > h1 {
  margin: 0;
  padding: 0;
  line-height: 55px;
  letter-spacing: 2px;
}
.mobile-intro-section > .container > p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
.mobile-intro-section > .container > button {
  margin: 20px 0;
  padding: 10px 30px;
  color: var(--VeryLightGray);
  background-color: var(--DarkViolet);
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
}
.mobile-intro-section > .container > button:hover {
  color: var(--DarkViolet);
  background-color: var(--VeryLightGray);
}

.description-section {
  margin: 100px 0;
}
.description-section > .container {
  text-align: center;
}
.horizontal-line {
  height: 1px;
  width: 150px;
  margin: 30px auto;
  background-color: var(--DarkGrayishViolet);
}
.desc {
  margin-bottom: 50px;
}
.desc > h2 {
  font-size: 35px;
  font-weight: 400;
}
.desc > p {
  color: var(--DarkGrayishViolet);
}

.how-we-work-section {
  background-color: var(--DarkViolet);
  color: var(--VeryLightGray);
  text-align: center;
  margin: 150px auto;
  padding: 60px 0px;
  background-image: url(images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
}
.how-we-work-section > h1 {
  margin: 0;
}
.how-we-work-section > button {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 20px;
  background-color: var(--DarkViolet);
  color: var(--VeryLightGray);
  cursor: pointer;
}
.how-we-work-section > button:hover {
  background-color: var(--VeryLightGray);
  color: var(--DarkViolet);
}

footer {
  background-color: var(--VeryLightGray);
  padding: 100px 0;
  background-image: url(images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  background-position: top left;

  padding-bottom: 30px;
}
footer > .container {
  text-align: center;
}
.footer-top > img {
  margin: 10px 0;
}
.footer-top > .icons {
  margin: 10px 0 20px 0;
}
.icons > a {
  margin: 0 10px;
}

.fnav {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fnav > p {
  margin: 10px 0;
  color: var(--DarkGrayishViolet);
  font-size: 18px;
  text-transform: uppercase;
}
.fnav > a {
  text-decoration: none;
  font-size: 16px;
  margin: 5px 0;
  font-weight: 700;
  color: var(--DarkViolet);
}
.fnav > a:hover {
  text-decoration: underline;
}

.desktop-intro-section {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1000px) {
  #hamburger {
    display: none;
  }
  .desktop-nav {
    display: block;
  }
  .desktop-nav > ul {
    display: flex;
  }
  .desktop-nav > ul > li {
    list-style-type: none;
  }
  .desktop-nav > ul > li > a {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
    color: var(--DarkGrayishViolet);
  }
  .desktop-nav > ul > li > a:hover {
    color: var(--VeryDarkViolet);
  }
  .desktop-nav > ul > li > .btn {
    background-color: none;
    border: 1px solid var(--VeryDarkViolet);
    transition: all 0.5s;
  }
  .desktop-nav > ul > li > .btn:hover {
    background-color: var(--DarkViolet);
    color: var(--VeryLightGray);
  }
  .mobile-nav {
    display: none;
  }

  .mobile-intro-section {
    display: none;
  }
  .desktop-intro-section {
    display: block;
    background-color: var(--DarkViolet);
    padding: 100px 0;
    background-image: url(images/bg-pattern-intro-left-desktop.svg),
      url(images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    background-position: left bottom, right top;
  }
  .desktop-intro-section > .container {
    display: grid;
    grid-template-columns: 35% 60%;
    justify-content: space-between;
    grid-template-areas: 'description img';
    align-items: flex-start;
    overflow: hidden;
  }

  .desktop-intro-section > .container > .description {
    grid-area: description;
    color: var(--VeryLightGray);
  }
  .desktop-intro-section > .container > .description > p {
    font-size: 25px;
  }
  .desktop-intro-section > .container > .description > button {
    margin: 20px 0;
    padding: 10px 30px;
    color: var(--VeryLightGray);
    background-color: var(--DarkViolet);
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
  }

  .desktop-intro-section > .container > .description > button:hover {
    background-color: var(--VeryLightGray);
    color: var(--DarkViolet);
  }

  .destop-intro-section > .container > .img {
    grid-area: img;
  }
  .destop-intro-section > .container > .img > img {
    width: 100%;
  }

  .description-section > .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: 2;
    grid-template-areas:
      'desc-top desc-top desc-top'
      'desc-1 desc-2 desc-3';
    align-items: flex-start;
    justify-content: space-between;
  }
  .desc {
    text-align: left;
  }
  .description-top {
    grid-area: desc-top;
    justify-self: left;
  }
  .description-top > .horizontal-line {
    margin-left: 0;
  }
  .description-1 {
    grid-area: desc-1;
  }
  .description-2 {
    grid-area: desc-2;
  }
  .description-3 {
    grid-area: desc-3;
  }
  .how-we-work-section {
    background-image: url(images/bg-pattern-how-we-work-desktop.svg);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'h1 h1 btn';
    padding: 30px;
  }
  .how-we-work-section > h1 {
    grid-area: h1;
  }
  .how-we-work-section > button {
    grid-area: btn;
    justify-self: end;
    align-self: center;
  }
  .footer-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .footer-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
