@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root {
  --DarkViolet: hsl(256, 26%, 20%);
  --GrayishBlue: hsl(216, 30%, 68%);
  --VeryDarkViolet: hsl(270, 9%, 17%);
  --DarkGrayishViolet: hsl(273, 4%, 51%);
  --VeryLightGray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}
h1,
h2 {
  font-family: 'DM Serif Display', serif;
}

body {
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

header > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin: 20px auto; */
  padding: 20px 0;
}
header > .container > .desktop-nav {
  display: none;
}
#hamburger {
  cursor: pointer;
}
.mobile-nav {
  height: 0;
  background-image: url(images/bg-pattern-mobile-nav.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: var(--VeryDarkViolet);

  transition: all 1s;
}
.mobile-nav.expand {
  height: 90vh;
}
.mobile-nav > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin: 0;
  padding: 30px 0;
}
.mobile-nav > ul > li {
  margin: 15px 0;
}
.mobile-nav > ul > li > a {
  text-decoration: none;
  color: var(--VeryLightGray);
  font-size: 25px;
  text-transform: uppercase;
  margin: 10px 0;
  padding: 10px 100px;
}

.btn {
  border: 1px solid var(--VeryLightGray);
}

.mobile-intro-section > img {
  width: 100%;
}

.desktop-intro-section {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
